<nav>
    <label for="menu-switch">
        <img src="/public/pictures/hamburger_icon.png" alt="Menu">
    </label>
    <input id="menu-switch" type="checkbox">

    <ul class="menu">

        <li><a href="/"><img src="/public/pictures/home.png" alt="home"><span>Home</span></a></li>
        <li>
            <div href="/store">Store</div>
            <ul class="menu-subsection">
                <li>
                    <div></div><a href="/store">All</a>
                    <div></div>
                </li>
                <% for(let category of locals.productCategories) { %>
                    <li>
                        <div></div><a href="<%= `/store?category=${category}` %>">
                            <%= category[0].toUpperCase() + category.slice(1)%>
                        </a>
                        <div></div>
                    </li>
                    <% } %>
            </ul>
        </li>

        <% if(!locals.user) { %>
            <li><a href="/register">Register</a></li>
            <% } %>

                <li>
                    <div>Gallery</div>
                    <ul class="menu-subsection">
                        <li>
                            <div></div><a href="/static_gallery">Static</a>
                            <div></div>
                        </li>
                        <li id="animated-gallery-menu-option">
                            <div></div><a href="/animated_gallery">Animated</a>
                            <div></div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/terms">Legal</a>
                    <ul class="menu-subsection">
                        <li>
                            <div></div><a href="/terms#terms">Terms</a>
                            <div></div>
                        </li>
                        <li>
                            <div></div><a href="/terms#privacy">Privacy</a>
                            <div></div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/cart">
                        <img id="cart-button" src="/public/pictures/cart-73-32.ico">
                        <span>Cart<span id="cart-items-count"></span> </span>
                    </a>
                    <ul id="cart-menu-subsection" class="menu-subsection"></ul>
                </li>

                <% if(locals.user) { %>
                    <li>
                        <a>
                            <img id="profile-picture" src="<%= locals.user.profilePicture %>" alt="User Image">
                            <%= locals.user.username %>
                        </a>
                        <ul class="menu-subsection">
                            <li>
                                <div></div><a href="/logout">Logout</a>
                                <div></div>
                            </li>

                        </ul>
                    </li>
                    <% } %>

                        <li>
                            <a>
                                <img id="theme-switch" src="/public/pictures/sun.png">
                            </a>
                        </li>

    </ul>
</nav>

<% if(locals.success && locals.success.length) {%>
    <section class="notification success-notification">
        <%= locals.success %>
    </section>
    <% } %>

        <% if(locals.error && locals.error.length) {%>
            <section class="notification error-notification">
                <%= locals.error %>
            </section>
            <% } %>

                <% if(!locals.user) { %>
                    <section id="login-section">

                        <form action="/login" method="POST" id="login-section">
                            <label>Username:
                                <input type="text" class="basic-text-input" name="username" required>
                            </label>

                            <label>Password:
                                <input type="Password" class="basic-text-input" name="password" required>
                            </label>

                            <input type="submit" value="Login" class="basic-button">
                        </form>

                    </section>

                    <% } %>

                        <script>
                            let selectedTheme = localStorage.getItem('theme');
                            applyTheme(selectedTheme ? parseInt(selectedTheme) : 0);
                        </script>