<!DOCTYPE html>

<!-- http://irinaciocan.ro/tehnici_web/cerinte_custom_info.php -->
<!-- https://drive.google.com/drive/u/1/folders/1oCS03kldL39wkL4_1hDpuMbLdC_tDk7N -->

<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/public/stylesheets/static-gallery.css" type="text/css">
        <link rel="stylesheet" href="/public/stylesheets/animated-gallery.css" type="text/css">

        <link rel="stylesheet" href="/public/stylesheets/index.css">
        <link rel="stylesheet" href="/public/stylesheets/index-1000.css" type="text/css"
            media="screen and (max-width:1000px)" />
        <link rel="stylesheet" href="/public/stylesheets/index-576.css" type="text/css"
            media="screen and (max-width:576px)" />

        <title>TechAltar - Greatest tech hub on web</title>
</head>

<body>
    <header>

        <h1>TechAltar</h1>
        <%- include ('../partials/nav') %>

            <q
                cite="https://philosiblog.com/2011/10/10/any-sufficiently-advanced-technology-is-indistinguishable-from-magic/">Any
                sufficiently advanced <b>technology</b> is indistinguishable from <b>magic</b>.
            </q>
    </header>

    <main>
        <section id="main-grid">
            <section id="presentation">

            </section>
            <section id="online-users">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, possimus
                voluptatem delectus iusto nam porro repellendus, provident natus optio perspiciatis quae labore qui
                totam illum ratione, aliquid ex! Nostrum, earum!
                Doloremque voluptate numquam quaerat quas beatae tenetur magni earum porro nemo, obcaecati optio, nobis
                error minima tempora consectetur. Velit eius maxime laboriosam molestias delectus pariatur odit repellat
                praesentium vitae dolore!
                Fuga molestiae similique fugit ullam at itaque quas dolore corrupti. Repudiandae unde animi nesciunt
                ipsa, ipsum earum impedit aliquid? Suscipit illo ipsum quis itaque voluptates. Sit impedit nobis sint
                sequi?
                Magnam rem atque, deleniti numquam quidem perspiciatis architecto asperiores voluptas dolorem nulla ut
                reiciendis minus suscipit fugit, doloremque, dolorum minima dolor! Tenetur excepturi magnam saepe vel
                illum modi delectus sunt.
            </section>
            <section id="statistics">
                <p>Your current ip address is: <%- locals.clientIp %>
                </p>

            </section>
            <section id="site-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, non ducimus
                quis voluptas repudiandae quas eligendi nostrum exercitationem facilis. Corrupti vel, amet neque qui
                dolore quia quidem quod ratione temporibus!
                Dignissimos ipsum a at? Eveniet soluta doloremque quo? Fugiat illo quaerat a, delectus asperiores, nobis
                tempora excepturi provident nemo, dolorum eius enim adipisci! Molestiae commodi nesciunt labore
                praesentium officiis quod.
                Atque similique tempore, sunt dolor ad, doloribus cupiditate laudantium repellat architecto excepturi ab
                laboriosam dolorem repellendus iusto odit deserunt dolorum numquam. Cum odit doloremque quis dicta,
                ducimus similique ipsam laborum.
            </section>
            <section id="events">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit beatae deserunt
                inventore neque, nobis voluptate optio quod, veniam, a voluptas quibusdam ducimus mollitia laboriosam
                alias cupiditate aut. Excepturi, deleniti voluptatibus?
                Deleniti, laborum repellendus? Pariatur dignissimos nesciunt fuga molestiae a cupiditate magni libero
                at. Saepe harum inventore quasi voluptatem delectus iusto, error expedita iure ducimus odio consectetur
                hic labore quos. Incidunt.
            </section>

            <section id="main-table">
                <div class="table-container">
                    <table class="statistics-table">
                        <thead>
                            <th>Year</th>
                            <th>Market Share</th>
                            <th>Users Rating (* / 5 stars)</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2018</td>
                                <td>51.3%</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>2019</td>
                                <td>58%</td>
                                <td>4.3</td>
                            </tr>
                            <tr>
                                <td>2020</td>
                                <td>61%</td>
                                <td>4.7</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    Note: Rating based of users feedback.
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </section>
            <section id="announcements">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, commodi quia
                ex accusantium sunt cumque debitis suscipit fugiat repellendus a asperiores quaerat laudantium ea, nemo,
                neque nulla dolores mollitia cum?
                Sequi voluptates corrupti, inventore quae dolorum exercitationem? Quod, recusandae accusantium atque
                quaerat voluptatum porro fugiat blanditiis modi? Reiciendis aspernatur, eos maxime tempore voluptate
                perspiciatis sequi, repellat sed dolorem at in!
                Recusandae magni soluta vero, maiores vel eveniet repellendus voluptatem deserunt non! Omnis nihil rerum
                sequi pariatur possimus recusandae iusto, ipsa suscipit magni incidunt, vel mollitia harum in aliquid
                molestiae totam.
            </section>
            <section id="others">

                <section id="animated-gallery-section">
                    <%- include('../partials/animated_gallery') %>
                </section>

                <section id="intro">
                    <h2>Our mission?</h2>
                    <div>
                        <p>
                            TechAltar is one of the greatest <i>tech hubs</i> on web. We have the most diversified range
                            of
                            tech
                            products
                            over all internet.
                            We dedicated ourselves to bring you the newest tech <b>gadgets</b>.
                        </p>
                        <q
                            cite="https://philosiblog.com/2011/10/10/any-sufficiently-advanced-technology-is-indistinguishable-from-magic/">Any
                            sufficiently advanced <b>technology</b> is indistinguishable from <b>magic</b>.</q> -
                        <i>Arthur
                            C.
                            Clarke</i>.
                    </div>
                </section>

                <section id="products">
                    <h2>Products</h2>
                    <section id="new">
                        <h3>What's new?</h3>
                        <p><b>5G</b> is the <b>future</b>! Checkout our brand new products.</p>

                        <div class="iframe-section">
                            <iframe name="iframe-video" src="https://www.youtube.com/embed/mQYtIW_cc2w"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                            </iframe>
                            <div class="iframe-tab-section">
                                <a class="iframe-tab" href="https://www.youtube.com/embed/mQYtIW_cc2w"
                                    target="iframe-video">Samsung Galaxy
                                    S21
                                    is
                                    here</a>
                                <a class="iframe-tab" href="https://www.youtube.com/embed/T04yiCoN41A"
                                    target="iframe-video">Checkout the
                                    new
                                    Huawei
                                    Mate 40</a>
                                <a class="iframe-tab" href="https://www.youtube.com/embed/cnXapYkboRQ"
                                    target="iframe-video">Iphone 12</a>

                            </div>
                        </div>
                    </section>

                    <section id="static-gallery-section">
                        <h3 class="gallery-heading">Gallery</h3>
                        <%- include ('../partials/static_gallery') %>


                    </section>

                </section>
            </section>

            <div id="banner">
                <p>
                    Disclaimer: This is a school project!
                </p>
            </div>
    </main>
    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>